<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>Farm2Home</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <button onclick="openMenu()">
            &#9776;
          </button>
          <a href="index.html"> Farm2Home </a>
        </div>
        <div class="header-links">
          <a href="cart">Cart</a>
          <a href="signin">SignIn</a>
        </div>
      </header>

      <aside class="sidebar">
        <h3>Shopping Categories</h3>
        <button class="sidebar-close-button" onclick="closeMenu()">x</button>
        <ul>
          <li>
            <a href="index.html">Vegetables</a>
          </li>
          <li>
            <a href="index.html">Fruits</a>
          </li>
        </ul>
      </aside>

      <main class="main">
        <ul class="products">
          <li>
            <div class="product">
              <img
                class="product-image"
                alt="onion"
                src="https://cdn.theatlantic.com/thumbor/TxEw_yjPER1uluJjP8qc0nNRHpw=/0x72:1000x635/720x405/media/img/mt/2015/05/shutterstock_247399801/original.jpg"
              />

              <div class="product-name">
                <a href="product.html">Onion</a>
              </div>
              <div class="product-brand">
                Organic
              </div>

              <div class="product-price">
                &#x20B9; 70/Kg
              </div>
              <div class="product-rating">
                4.5 stars (10 reviews)
              </div>
            </div>
          </li>

          <li>
            <div class="product">
              <img
                class="product-image"
                alt="onion"
                src="https://cdn.theatlantic.com/thumbor/TxEw_yjPER1uluJjP8qc0nNRHpw=/0x72:1000x635/720x405/media/img/mt/2015/05/shutterstock_247399801/original.jpg"
              />

              <div class="product-name">
                <a href="product.html">Onion</a>
              </div>
              <div class="product-brand">
                Organic
              </div>

              <div class="product-price">
                &#x20B9; 70/Kg
              </div>
              <div class="product-rating">
                4.5 stars (10 reviews)
              </div>
            </div>
          </li>

          <li>
            <div class="product">
              <img
                class="product-image"
                alt="onion"
                src="https://cdn.theatlantic.com/thumbor/TxEw_yjPER1uluJjP8qc0nNRHpw=/0x72:1000x635/720x405/media/img/mt/2015/05/shutterstock_247399801/original.jpg"
              />

              <div class="product-name">
                <a href="product.html">Onion</a>
              </div>
              <div class="product-brand">
                Organic
              </div>

              <div class="product-price">
                &#x20B9; 70/Kg
              </div>
              <div class="product-rating">
                4.5 stars (10 reviews)
              </div>
            </div>
          </li>

          <li>
            <div class="product">
              <img
                class="product-image"
                alt="onion"
                src="https://cdn.theatlantic.com/thumbor/TxEw_yjPER1uluJjP8qc0nNRHpw=/0x72:1000x635/720x405/media/img/mt/2015/05/shutterstock_247399801/original.jpg"
              />

              <div class="product-name">
                <a href="product.html">Onion</a>
              </div>
              <div class="product-brand">
                Organic
              </div>

              <div class="product-price">
                &#x20B9; 70/Kg
              </div>
              <div class="product-rating">
                4.5 stars (10 reviews)
              </div>
            </div>
          </li>

          <li>
            <div class="product">
              <img
                class="product-image"
                alt="onion"
                src="https://cdn.theatlantic.com/thumbor/TxEw_yjPER1uluJjP8qc0nNRHpw=/0x72:1000x635/720x405/media/img/mt/2015/05/shutterstock_247399801/original.jpg"
              />

              <div class="product-name">
                <a href="product.html">Onion</a>
              </div>
              <div class="product-brand">
                Organic
              </div>

              <div class="product-price">
                &#x20B9; 70/Kg
              </div>
              <div class="product-rating">
                4.5 stars (10 reviews)
              </div>
            </div>
          </li>

          <li>
            <div class="product">
              <img
                class="product-image"
                alt="onion"
                src="https://cdn.theatlantic.com/thumbor/TxEw_yjPER1uluJjP8qc0nNRHpw=/0x72:1000x635/720x405/media/img/mt/2015/05/shutterstock_247399801/original.jpg"
              />

              <div class="product-name">
                <a href="product.html">Onion</a>
              </div>
              <div class="product-brand">
                Organic
              </div>

              <div class="product-price">
                &#x20B9; 70/Kg
              </div>
              <div class="product-rating">
                4.5 stars (10 reviews)
              </div>
            </div>
          </li>

          <li>
            <div class="product">
              <img
                class="product-image"
                alt="onion"
                src="https://cdn.theatlantic.com/thumbor/TxEw_yjPER1uluJjP8qc0nNRHpw=/0x72:1000x635/720x405/media/img/mt/2015/05/shutterstock_247399801/original.jpg"
              />

              <div class="product-name">
                <a href="product.html">Onion</a>
              </div>
              <div class="product-brand">
                Organic
              </div>

              <div class="product-price">
                &#x20B9; 70/Kg
              </div>
              <div class="product-rating">
                4.5 stars (10 reviews)
              </div>
            </div>
          </li>
        </ul>
        <div class="content"></div>
      </main>
      <footer class="footer">
        All right reserved.
      </footer>
    </div>

    <script>
      function openMenu() {
        document.querySelector(".sidebar").classList.add("open");
        console.log("open");
      }
      function closeMenu() {
        document.querySelector(".sidebar").classList.remove("open");
        console.log("open");
      }
    </script>
  </body>
</html>
