html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header {
  grid-area: header;
  background-color: #132333;
  color: #fffff0;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  padding: 0.5rem;
}

.brand a {
  text-decoration: none;
  color: #fffff0;
  font-size: 2.5rem;
  font-weight: bold;
}

.header-links a {
  text-decoration: none;
  color: rgb(248, 248, 248);
}

.header-links a:hover {
  text-decoration: none;
  color: rgb(221, 80, 29);
}
.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: #203040;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*HomeScreen */

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-image {
  width: 22rem;
  height: 22rem;
}
.product-name {
  font-size: 2rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #ff8000;
}

.product-brand {
  font-size: 1.2rem;
  color: #808080;
}

.product-price {
  font-size: 1.5rem;
  font-weight: bold;
}

.product-rating {
  margin-bottom: 1rem;
}

/*Sidebar changes */

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
  font-size: 2rem;
}
